<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275310143768-ae5us0q38qqos3sv6rg6slv768fv46pj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275310143768-ae5us0q38qqos3sv6rg6slv768fv46pj</string>
	<key>API_KEY</key>
	<string>AIzaSyDjO_P85lAzXNj32gW6PL1eGEfifGNspro</string>
	<key>GCM_SENDER_ID</key>
	<string>275310143768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haitho.mnapp</string>
	<key>PROJECT_ID</key>
	<string>pushnotiflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotiflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275310143768:ios:816ebe5412abc921ee166d</string>
	<key>DATABASE_URL</key>
	<string>https://pushnotiflutter.firebaseio.com</string>
</dict>
</plist>